.cabecalho{
    background-color: #04234B;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: relative;
 }
 body{
     background-color:#04234B;
     
 
 }
 .botao_do_cabeçalho{
     display: flex;
     align-items: center;
 }
 .imagem_cabeçalho{
     padding: 1em;
 }
 .lista_menu {
    display: none;
    max-height: 0;
    overflow: hidden;
    margin-left: -100vw;
}
.imagem_colegio{
    width: 50%;
}
.botao_cabecalho_1,
.lista_menu {
    transition: 0.5s ease;
    background-color: #04234B;
    outline: none;
    border: none;
    box-shadow: none;
    cursor: default;
    padding-left: 15px;
    margin-left: 0;
    top: 100%;
}

.botao_cabecalho_1.ligado ~ .lista_menu {
    transition: 0.5s ease;
    max-height: 500px;
    display: block;
    position: absolute;
    top: 100%;
    width: 55vw;
    background-color: #04234B;
}
.lista_cabecalho{
    display: none;
}

.lista_menu_itens {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateY(-20px);
    padding: 2em;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.botao_cabecalho_1.ligado ~ .lista_menu .lista_menu_itens {
    opacity: 1;
    transform: translateY(0);
}

 .grid{
     background-color: #04234B;
     font-family: 'Alumni Sans', sans-serif;
     grid-template-columns: repeat(8, 1fr);
     grid-template-rows: repeat(9, 1fr);
     max-height: 99vh;
     display: grid;
 }
 .logo_colegio{
    grid-column: 1/9;
    grid-row: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
 }
 .text_login{
    grid-column: 1/9;
    grid-row: 2;
    align-items: center;
    text-align: center;
    color: white;
    padding: 2em;
 }
 .input_texto{
    width: 60vw;
    padding: 1em;
    border-radius: 20px;
 }
 .text_login1{
    text-align: left;
    font-size: 8vw;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em;
    margin-left: 20px;
}.menu_link{
    color: white;
    text-decoration: none;}
.botao_loguin{
    grid-column: 1/9;
    grid-row: 4;
    align-items: center;
    text-align: center;
}
.botao_loguin_1{
    padding: 0.5em;
    font-size: 4vw;
    width: 55vw;
    font-family: 'Poppins', sans-serif;
    border-radius: 22px;
}
.finalizacao_site_pc{
    display:none

}
.escritas_finalizacao_pc{
    display:none

}
.link_finalizacao_pc{
    display:none
}
.link_lista{
    display: none;
}
.logo_1{
    display: none;
}
@media screen and (min-width: 768px) {
    .botao_cabecalho_1{
        display: none;
    }
    *{
        padding: 0;
        margin: 0;
    }
    .logo_1{
        display: ruby;
    }
    .lista_cabecalho{
        display: ruby;
    }
    .lista_cabecalho{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }
    .link_lista{
        text-decoration: none;
        letter-spacing: 3px;
        display: ruby;
        margin-left: 32px;
        list-style: none;
        color:rgb(255, 255, 255);
        font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    }
    .imagem_colegio{
        width: 100%;
    }
    .logo{  
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    }
    .grid{
        background-color: white;
        font-family: 'Alumni Sans', sans-serif;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(10, 1fr);
        max-height: 99vh;
        display: grid;
    }
    .cabecalho{
        background-color: #04234B;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 12vh;
    }
    .logo_colegio imagem-colegio{
        width: 78%;
        text-align: center;
        align-items: center;
        background-color: white;
    }
    .text_login{
        grid-column: 2/9;
        grid-row: 3/4;
        align-items: center;
        text-align: center;
        color: black;
        padding: 3em;
        margin-left: -150px;
       
    
     }
     .input_texto{
        width: 40vw;
        padding: 1em;
        border-radius: 20px;
     }
     .text_login{
        grid-column: 2/9;
        grid-row: 5;
     }
     .text_login1{
        margin-left: 370px;
        font-size: 1vw;
        font-family: 'Poppins', sans-serif;
        padding: 1em;
    }
    .botao_loguin{
        grid-column: 2/9;
        grid-row: 7;
        margin-top: 1%;
        padding: 2em;
        align-items: center;
        text-align: center;
        border-radius: 20px;
    }
    .botao_loguin_1{
        text-align: center;
        align-items: center;
        padding: 0.5em;
        font-size: 1.3vw;
        margin-left: -150px;
        color: #04234B; 
        background-color: white;
        width: 20vw;
        border-radius: 22px;
        
    }
    .outros-modos{
        grid-column: 6/9;
        grid-row: 8;
        text-align: center;
        align-items: center;
        margin-left: -60%;
        margin-top: -9%;
        color: white;
        font-family:'Poppins', sans-serif ;
        font-size: 20px;
        font-weight: bold;
    }
    
    .cadastro{
        grid-column: 4/9;
        grid-row: 9;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: white;
        margin-left: 4%;
    }
    .cadastro-linha{
        background-color: #04234B;
        color: white;
        border: 0px;
        text-decoration: underline;
    }
    .cadastro a{
        color: white;
    }
    nav li{
        display: inline-block;
    }
    
    nav li a{
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 18px;
    }
    
    nav li a:hover{
        background-color: #04234B;
    }
    
    .dropdown-menu{
    position: absolute;
    top: 100%;
    box-shadow: 0 0 2px black;
    display: none;
    background-color: #04234B;
    }
    
    .dropdown-menu a{
        display: block;
        color: white;
    }
    
    .dropdown:hover .dropdown-menu{
        display: block;
        background-color: #04234B;
    }
}