Body {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 8px; /*Afasta a Logo da Margem*/
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Times New Roman';
    background: #04234b; /*Muda a cor da Home*/
    height: 11vh; /*Muda a espessura da home*/
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 5px;
    margin-left: 40px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .nav-list{
    font-family: 'Times New Roman';
  }

  